.hero-area {

    background: rgb(131,58,180);
    background: linear-gradient(195deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

<<<<<<< HEAD
}

footer {
    background-color: rbg(93, 93, 93);
    color: #fff;
=======
>>>>>>> 2358581c3b0f065ce655ff1df6fe4ddb84943267
}